* {  
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}


/* Navbar section CSS */

.logo {
    height: 80px;
}

.toggleMenu {
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    display: block;
    color: white;
    font-size: 20px;
    padding: 8px 24px;
    border-radius: 3px;
    margin: 0 5px;
    transition: 0.5s;
}

.navbar ul li a.active {
    color: #1e1e1e;
    background:#F7c192;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: #1e1e1e;
    background:#F7c192;
    transition: 0.5s;
}


/* Banner_content section CSS */

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("./images/pupsome\ hero\ image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    align-items: center;
    display: flex;
}

.banner_content {
    text-align: center;
    width: 100%;
    position: absolute;
    transform: rotateY(-50%);
    text-align: center;
    color: white;
}

.banner_content h1 {
    font-size:10vw;
    color: white;
    font-weight: 600;
    margin: 0 0 20px;
}

.banner_content li {
    display: inline-block;
    margin: 10px;
}

.banner_content li a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 70px;
    margin-top: 20px;
}

.banner_content li a:hover {
    color: #1e1e1e;
}


/* About_us section CSS */

.main_content {
    width: 100%;
    text-align: center;
}

.main_content h2 {
    font-size: 6vw;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 0%;
}

.main_content p {
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 50px;
}

.flexbox_container {
    display: flex;
    flex-direction: row;
    width: auto;
    text-align: center;
    justify-content: flex-start;
    width: -moz-fit-content;
    padding: 5px;
    margin: 5px;
}

.flexbox_container img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.flexbox_container a {
    font-size: 30px;
    color: white;
    background-color: #F7c192;
    display: inline-block;
    border: 2px solid #F7c192;
    border-radius: 50px;
    padding: 14px 30px;
    margin-top: 20px;
    text-align: center;
}

.flexbox_container a:hover {
    color: #1e1e1e;
}


/* Contact_us section CSS */

.contact_content {
    width: 100%;
    margin-top: 10%;
    background-color: #F7c192;
}

.contact_content h3 {
    font-size: 3vw;
    text-align: center;
    padding: 80px 0;
    margin-bottom: 0;
}

.contact_content a {
    color: black;
    text-decoration: underline;
}


/* Footer section CSS */

.footer_content {
    text-align:center;
    background-color: #1e1e1e;
    color: white;
    width: 100%;
    padding: 30px 0;
}

.footer_content .social_icons a {
    color: #F7c192;
    font-size: 30px;
    display: inline-block;
    margin: 5px 5px;
    padding-top: 30px;
    padding-bottom: 15px; 
    text-align: center;
}

.copyright p {
    font-size: 18px;
}


/* Make it responsive @media 1250px, 800px and 450px */

@media only screen and (max-width: 1250px) {

    header {
        padding: 0 40px;
    }    

    .logo {
        height: 60px;
    }

    .main_content p {
        font-size: 3vw;
    }

    .flexbox_container {
        flex-direction: column;
    }

    .flexbox_container img {
        width: 100%;
        height: 500px;
        object-fit: contain;
        padding: 30px;
    }

    .flexbox_container a {
        font-size: 40px;
    }

    .contact_content {
        margin-top: 1%;
    }

@media only screen and (max-width: 800px) {
    
    .logo {
        height: 50px;
    }

    .toggleMenu {
        display: block;
        cursor: pointer;
    }    

    .toggleMenu .bar {
        width: 40px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }

    .navbar {
        overflow: hidden;
        width: 100vw;
        height: 0;
        top: 80px;
        right: 0;
        left: 0;
        background-color: #1e1e1e;
        position: absolute;
        transition: 0.5s; 
        z-index: 3;
    }

    .navbar.active {
        height: 550px;
        overflow: hidden;
    }

    .navbar ul {
        width: fit-content;
        display: block;
        text-align: center;
        margin: 80px auto 0 auto;
        transition: 0.5s;
        opacity: 0;
        overflow: hidden;
        font-size: 20px;
    }

    .navbar.active ul {
        opacity: 1;
    }    

    .navbar ul li a {
        margin-bottom:45px;
    }

    .banner {
        width: 100%;
        height: 500px;
    }

    .banner_content li {
        display: inline-flex;
    }
    
    .banner_content li a {
        font-size: 20px;
        border: 2px solid white;
        padding: 10px 30px;
    }

    .main_content h2 {
        font-size: 6vw;
    }

    .flexbox_container img {
        height: 70%;
    } 

    .flexbox_container a {
        font-size: 16px;
        padding: 12px 50px;
        margin-top: 0%;
    }

    .contact_content h3 {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 400px) {

    .banner_content h1{
        font-size: 10vw;
    }

    .banner_content a {
        padding: 5px 15;
    }
    
    .banner_content li {
        display: inline-flex;
    }
    
    .banner_content li a {
        font-size: 15px;
        color: white;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 50px;
        padding: 10px 30px;
        margin-top: 20px;
    }

    .left, .main, .right {
        width: 80%;
    }

    .main_content a {
        font-size: 10px;
        color: white;
        background-color: #F7c192;
        text-decoration: none;
        display: flex;
        border: 2px solid #F7c192;
        border-radius: 50px;
        padding: 10px 20px;
        margin-top: 20px;
    }

    .main_content h2 {
        font-size: 8vw;
    }

    .main_content p {
        font-size: 5vw;
        padding: 0 10px;
    }

    .flexbox_container img {
        height: 100%;
        width: 100%;
    }

    .flexbox_container a {
        font-size: 16px;
        padding: 12px 20px;
    }

    .contact_content h3 {
        font-size: 6vw;
    }

    .copyright p {
        font-size: 16px;
    }
}
}