<br style="height: 300px"> 
<footer class="footer">
    <div class="footer_content">
        <div class="social_icons text-center bg-dark p-4" style="font-size: 25px; color: #F7c192;">
            <a href="#"><i class="bi bi-facebook mb-3" style="color: #F7c192;"></i></a>
            <a href="#"><i class="bi bi-twitter mb-3" style="color: #F7c192;"></i></a>
            <a href="#"><i class="bi bi-youtube mb-3" style="color: #F7c192;"></i></a>
            <a href="#"><i class="bi bi-envelope-at-fill mb-3" style="color: #F7c192;"></i></a>
            
        <div class="copyright" style="font-size: 14px;">
            <p class="text-center bg-dark text-secondary text-uppercase">&copy; 2023 | TenderPaws Pet Adoptions, a non-profit organization dedicated to creating heartwarming connections between loving pets and caring adopters since founded in 2010 | All Rights Reserved.</p>
        </div>
    </div> 
</footer>