<body>

    <!-- Mission/vision section -->
    <main>
        <section class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.10)), url('./images/Mission-1.jpg')">
            <h1> Our Mission</h1>
            <h2 class="mx-5">Every animal deserves a chance to experience love, warmth, and happiness. </h2>
        </section>
    </main>

    <!-- Story section -->
    <section>
        <div class="our-story">
            <h3 class="text-center bg-dark text-white">Our Story</h3>
            <div class="container">
                <div class="d-sm-flex flex-sm-row-reverse pt-5 pb-5" style="justify-content: center; align-items: center;">
                    <div style="flex: 0 0 40%; padding: 15px;">
                        <img class="image-fluid" src="./images/Story-3.jpg" alt="Image of stray cat and dog." style="object-fit: cover; width: 100%; height: 100%;">
                    </div>
                    <div class="story-content" style="flex: 0 0 50%; padding: 15px;">
                        <p>In 2010, a group of passionate animal lovers came together with a shared vision – to make a meaningful difference in the lives of vulnerable animals. Witnessing the plight of abandoned, neglected, and stray animals, we knew it was our calling to bring comfort, care, and hope to these innocent souls. And so, TenderPaws Pet Adoptions was born, fueled by compassion and guided by a genuine love for every creature that crosses our path.<br><br>
                        As we continue our heartfelt mission, we invite you to be a part of this incredible journey. Whether you're looking to open your heart and home to a deserving pet or seeking opportunities to contribute as a volunteer or donor, together, we can create a brighter future for animals in need.</p>
                        <div class="btn-story pt-1">
                            <a href="/get-involved"><button class="btn btn-lg rounded-0 " style="background-color: #da7b4a; color: #ffffff;">Get Involved</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Core values section -->
    <section>
        <div class="core-values">
            <h3 class="text-center bg-dark text-white">Core Values</h3>
            <div class="container pt-4 pb-4">
                <div class="row gy-3">
                    <div class="col-md-4">
                        <div class="card h-100 border-0">
                            <img src="./images/coreV-1.jpg" class="card-img-top rounded-0" alt="Image of a dog" width="100%" height="200px" style="object-fit: cover;">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-center font-weight-bold">Compassion</h5>
                                <p>At TenderPaws, we embrace compassion as the foundation of everything we do. We believe that every animal deserves empathy and understanding, no matter their background or circumstance. Our unwavering commitment to compassion guides our rescue efforts, adoption process, and ongoing care for our furry friends. We treat each animal with kindness and respect, ensuring their physical and emotional well-being is our top priority.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100 border-0">
                            <img src="./images/coreV-2.jpg" class="card-img-top rounded-0" alt="Image of a cat" width="100%" height="200px" style="object-fit: cover;">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-center font-weight-bold">Integrity</h5>
                                <p>Transparency and honesty are at the core of our organization. We operate with the utmost integrity, ensuring that our actions align with our words and that we are accountable for our decisions. We provide clear and accurate information to our adopters, donors, and volunteers, fostering a relationship built on trust. With integrity as our guiding principle, we strive to make a positive impact on the lives of animals and the broader community.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100 border-0">
                            <img src="./images/coreV-3.jpg" class="card-img-top rounded-0" alt="Image of a bunny" width="100%" height="200px" style="object-fit: cover;">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-center font-weight-bold">Lifelong Commitment</h5>
                                <p> We believe in the lifelong commitment that comes with pet ownership. When we match a pet with their new family, we take into account the long-term well-being of both the animal and the adopter. Our support doesn't end on the day of adoption; instead, it extends throughout the pet's entire journey with their forever family. We are dedicated to providing ongoing resources, guidance, and assistance to ensure that every pet finds a loving and lasting home. </p>
                            </div>
                        </div>
                    </div>
                    <hr style="height: 15px;">
                    <div class="btn-about-bottom text-center">
                        <a href="/adopt"><button class="btn btn-lg rounded-0" style="background-color: #da7b4a; color: #ffffff; width: 28%;">Adopt A Pet</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     
</body>
