<body>

    <!-- Adopt section -->
    <main>
        <section class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('./images/adopt-0.jpg')">
            <h1> Adopt A Pet</h1>
            <h2 class="mx-5">Find your forever furry friend today</h2>
        </section>
    </main>

    <!-- Choose your pet section -->
    <section>
        <div class="adopt">
            <h3 class="text-center bg-dark text-white">Choose Your Pet</h3>
            <div class="container pt-4 pb-4">
                <h5 class="pt-4 pb-4">Are you ready to embark on a journey of companionship, laughter, and shared memories? Browse our wonderful selection of pets awaiting their forever homes, and let the journey of a lifetime begin. Welcome to a world where tails never stop wagging, and hearts are forever touched by the magic of adoption.</h5>
                <div class="row gy-3">
                    <div class="col-md-4">
                        <div class="card h-100 border-0">
                            <img src="./images/adopt-1.jpg" class="card-img-top rounded-0" alt="View Dogs" width="100%" height="200px" style="object-fit: cover;">
                            <div class="card-body d-flex flex-column">
                                <a href="/adopt/dogs" style="text-decoration: none;"><h5 class="card-title text-center font-weight-bold">View Dogs</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100 border-0">
                            <img src="./images/adopt-2.jpg" class="card-img-top rounded-0" alt="View Cats" width="100%" height="200px" style="object-fit: cover;">
                            <div class="card-body d-flex flex-column">
                                <a href="/adopt/cats" style="text-decoration: none;"><h5 class="card-title text-center font-weight-bold">View Cats</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100 border-0">
                            <img src="./images/adopt-3.jpg" class="card-img-top rounded-0" alt="View Other Species" width="100%" height="200px" style="object-fit: cover;">
                            <div class="card-body d-flex flex-column">
                                <a href="/adopt/others" style="text-decoration: none;"><h5 class="card-title text-center font-weight-bold">View Other Species</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100 border-0">
                            <img src="./images/adopt-4.jpg" class="card-img-top rounded-0" alt="View Other Species" width="100%" height="200px" style="object-fit: cover;">
                            <div class="card-body d-flex flex-column">
                                <a href="/adopt/all-pets" style="text-decoration: none;"><h5 class="card-title text-center font-weight-bold">View All</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>

