<body>

    <!-- Main/Hero section -->
    <main>
        <section class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('./images/volunteer-1.jpg')">
            <h1> How you can get involved</h1>
            <h2 class="mx-5">Together, we can make a world of difference to our beloved companions with tender paws.</h2>
        </section>
    </main>

    <!-- Adopt button section -->
    <section>
        <div class="text-center bg-dark py-4">
            <a href="/adopt"><button class="btn btn-lg rounded-0 p-3" style="background-color: #da7b4a; color: #ffffff; width: 30%;">Adopt A Pet</button></a>
        </div>
    </section>

    <!-- Donate section -->
    <section id="donate">
        <div class="donate">
            <div class="container">
                <div class="d-sm-flex flex-sm-row-reverse pt-5 pb-5" style="justify-content: center; align-items: center;">
                    <div style="flex: 0 0 50%; padding: 0 15px;">
                        <img class="image-fluid" src="./images/donate-1.jpg" alt="Image of money ball."  style="object-fit: cover; width: 100%; height: 250px;">
                    </div>
                    <div class="story-content" style="flex: 0 0 50%; padding: 0 15px;">
                        <h4 class="fw-bold fs-2 pt-2">Make a Meaningful Contribution</h4>
                        <p>Your financial support plays a crucial role in our mission. By making a donation, you're providing the resources needed to rescue, rehabilitate, and care for animals in need. Your generosity directly impacts their lives, helping us create a world where every pet has a chance to thrive.</p>
                        <div class="btn-gip">
                            <a href="https://www.gofundme.com/" target="blank"><button class="btn btn-lg rounded-0 " style="background-color: #da7b4a; color: #ffffff;">Donate</button></a>
                        </div>
                    </div>
                </div>
                <hr style="height: 15px">
            </div>
        </div>
    </section>

    <!-- Volunteer section -->
    <section id="volunteer">
        <div class="volunteer">
            <div class="container">
                <div class="d-sm-flex pt-5 pb-5" style="justify-content: center; align-items: center;">
                    <div style="flex: 0 0 50%; padding: 0 15px;">
                        <img class="image-fluid pt-2" src="./images/volunteer-2.jpg" alt="Volunteer button."  style="object-fit: cover; width: 100%; height: 250px;">
                    </div>
                    <div class="story-content" style="flex: 0 0 50%; padding: 0 15px;">
                        <h4 class="fw-bold fs-2">Become a Compassionate Helper</h4>
                        <p>Join our dedicated team of volunteers who share a common goal: improving the lives of animals. Whether it's spending time with our animals, assisting in events, or spreading awareness about responsible pet ownership, your efforts matter. Volunteering isn't just about giving; it's about receiving the unconditional love and gratitude of the animals you help.</p>
                        <div class="btn-gip">
                            <a href="https://www.google.com/forms/about/" target="blank"><button class="btn btn-lg rounded-0 " style="background-color: #da7b4a; color: #ffffff;">Volunteer</button></a>
                        </div>
                    </div>
                </div>
                <hr style="height: 15px">
            </div>
        </div>
    </section>

    <!-- Shop section -->
    <section id="shop">
        <div class="shop">
            <div class="container">
                <div class="d-sm-flex flex-sm-row-reverse pt-5 pb-5" style="justify-content: center; align-items: center;">
                    <div style="flex: 0 0 50%; padding: 0 15px;">
                        <img class="image-fluid" src="./images/dog-toys.jpg" alt="Image of dog playing with toy." style="object-fit: cover; width: 100%; height: 250px;">
                    </div>
                    <div class="story-content" style="flex: 0 0 50%; padding: 0 15px;">
                        <h4 class="fw-bold fs-2 pt-2">Shop with a Purpose</h4>
                        <p>Explore our shop filled with pet-related merchandise that goes beyond just shopping. Each purchase you make directly contributes to our mission of providing better lives for animals. From adorable pet accessories to heartwarming products, you can make a difference with every item you choose. It's shopping that warms your heart as much as it does your home.</p>
                        <div class="btn-gip">
                            <a href="https://www.shopify.com/" target="blank"><button class="btn btn-lg rounded-0 " style="background-color: #da7b4a; color: #ffffff;">Shop</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
