<body>

    <!-- Main/Hero section -->
    <main>
        <section class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('./images/TPA-hero.png')">
            <h1> TenderPaws Pet Adoptions </h1>
            <h2>Finding loving homes for pets in need</h2>
        </section>
    </main>

    <!-- Services/How we help section -->
    <section>
        <div class="services">
            <h3 class="text-center bg-dark text-white">Our Services</h3>
            <div class="container pt-4 pb-4">
                <div class="row gy-3">
                    <div class="col-md-4">
                        <div class="card h-100 border-0">
                            <a href="/adopt"><img src="./images/services-1.jpg" class="card-img-top rounded-0"
                                    alt="Image of a dog" width="100%" height="200px" style="object-fit: cover;"></a>
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title text-center font-weight-bold">Adopt a Pet</h5>
                                    <p>We are dedicated to guiding you through the heartwarming journey of adopting a
                                            furry companion. Our adoption process is designed to ensure a perfect match
                                            between you and your new pet. From the initial application to the final adoption
                                            day and beyond, we provide comprehensive support at every step.</p>
                                    <div class="mt-auto">
                                        <a class="card-link px-4 py-2 " href="/adopt"
                                            style="background-color: #da7b4a">Adopt a Pet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100 border-0">
                                <a href="https://www.google.com/forms/about/" target="blank"><img
                                        src="./images/services-2.jpg" class="card-img-top rounded-0"
                                        alt="black and white image of a dog" width="100%" height="200px"
                                        style="object-fit: cover;"></a>
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title text-center font-weight-bold">Missing a Pet</h5>
                                    <p>Losing a beloved pet can be distressing, but you're not alone. Notify us
                                        immediately if your pet goes missing. We'll gather all necessary information,
                                        including descriptions and photographs, to create a missing pet profile. If your
                                        lost pet is found or ends up at our shelter, we'll reunite you with your furry
                                        friend as quickly as possible.</p>
                                    <div class="mt-auto">
                                        <a class="card-link px-4 py-2" href="https://www.google.com/forms/about/"
                                            target="blank" style="background-color: #da7b4a">Missing a Pet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100 border-0">
                                <a href="https://www.google.com/forms/about/" target="blank"><img
                                        src="./images/sevices-3.jpg" class="card-img-top rounded-0"
                                        alt="Image of a dog and owner" width="100%" height="200px"
                                        style="object-fit: cover;"></a>
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title text-center font-weight-bold">Found a Pet</h5>
                                    <p> Your caring actions can make a world of difference for a pet in need. If you've
                                        come across a lost or stray pet, contact us immediately and we will provide a
                                        safe and comfortable temporary shelter for the animal while we attempt to locate
                                        their owner or find them a new loving home. </p>
                                    <div class="mt-auto">
                                        <a class="card-link px-4 py-2" target="blank"
                                            href="https://www.google.com/forms/about/"
                                            style="background-color: #da7b4a">Found a Pet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- Why choose us section -->
    <section>
        <div class="accordion">
            <h3 class="text-center bg-dark text-white">Why Choose TenderPaws Pet Adoptions</h3>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="container pt-5 pb-5">
                    <div class="accordion-item">
                        <h4 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Transparency
                            </button>
                        </h4>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">We uphold the highest standards of transparency in our adoption process, ensuring that potential adopters have a complete understanding of the responsibilities and joys that come with pet ownership.</div>
                            </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Support
                            </button>
                        </h4>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Our commitment extends far beyond the adoption day. We offer
                                    ongoing support to our adopters, providing guidance, resources, and a network of
                                    fellow pet lovers who share the same journey.</div>
                            </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    Making a Difference
                            </button>
                        </h4>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">By choosing to adopt from TenderPaws, you become a part of
                                    something greater – a compassionate community dedicated to transforming the lives of
                                    animals one paw at a time.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Our sponsors section -->
    <section>
        <div class="sponsors">
            <h3 class="text-center bg-dark text-white">Our Sponsors</h3>
            <div class="container">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner container-fluid">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="./images/carousel -1.png" class="d-block w-100 h-100" alt="testimonial-1">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="./images/carousel-2.png" class="d-block w-100 h-100" alt="testimonial-2">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

</body>
