<body>

    <!-- Signup form section -->
    <section>
        <h1>Signup</h1>
        <div class="container">
            <form action="/signup" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <p>Already have an account? <a href="/login">Login</a></p>
                <p>or <a href="/index">Return Home</a></p>
            </form>
        </div>
    </section>
</body>